@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    If an account with that email address exists, we've sent a password reset link. Please check your email.
</p>
<p>
    The link will expire in 3 hours. If you don't receive the email, please check your spam folder.
</p>
<p>
    <a asp-page="./ForgotPassword">Request another reset link</a>
</p>
